
body {
    background-color: #4f4f4f;          /* CHANGE MAIN BODY BACKGROUND AREA*/
    padding-top: 0px !important;
}
@media(min-width:768px) {
    body {
        /*padding-top: 50px;*/
    }
}
#wrapper {
    width: 100%;
}
.topHeader-ni {
    height: 85px;
    margin-bottom: 0px;
    background-color: #065FA3;          /* CHANGE TOP HEADER CONTENT BACKGROUND AREA*/
    border-radius: 0;
    border-bottom: 1px solid #fff;
}
#page-wrapper {
    position: relative;
    padding: 0 10px;
    min-height: 568px;
    background-image: url(../img/bg/mybg.png);
    background-color: #f5f5f5;          /* CHANGE MAIN CONTENT BACKGROUND AREA*/
}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

.panel-info-border {
    border-bottom: 1px solid #c4e3f3;
    border-left: 1px solid #c4e3f3;
    border-right: 1px solid #c4e3f3;
}

#thermoImage img {
    text-align: center;
}

@media (min-width:768px) {
    #thermoImage img {
        width: 100%;
    }
}

#logo {
    margin: 20px;
}
.pieLabel {
    font-size:10px;
    margin-bottom:10px;
    text-align:center;
}

.padding-right-50 {
    padding-right: 50px;
}

#namePMU, #namePMU small {
    color: #fff;
    text-align: center;
}
#sideNav {
    background-color: #4f4f4f;          /* CHANGE SIDE NAV CONTENT BACKGROUND AREA*/
}
ul#side-menu.nav li {
    border: none !important;
}
ul#side-menu.nav li a {
    color:#fff;
}
.page-header {
    border: none !important;
    margin: 0 !important;
}
th.page-header {
    font-size:14px;
    font-weight:bolder;
}
.first-header {
    color:#fff;
    background-color: #065FA3 !important;
    border-bottom: none !important;
}
.second-header {
    color:#000;
    background-color: #DFDFDF !important;
    border-bottom: none !important;
}
.percentSpan {
    position: relative;
    top: 10px;
    left: 5px;
    font-size: 12px;
}
.mainHeader {
    border-bottom:1px dotted #4f4f4f;
}
.dashboardTabbedPanel {
    margin-top:20px;
}
.spanHealthGood {
    height:50px;
    width:50px;
    background-color:green;
    color:#fff;
    padding:10px 5px;
}
.spanHealthWarn {
    height:50px;
    width:50px;
    background-color:orange;
    color:#fff;
    padding:10px 5px;
}
.spanHealthBad {
    height:50px;
    width:50px;
    background-color:red;
    color:#fff;
    padding:10px 5px;
}
.page-header span {
    font-size: 24px;
    color: #333;
    display: inline-block;
    vertical-align: 1px;
}
strong.icon-text-align {
    font-size: 15px;
    position: relative;
    top: -2px;
    font-weight: bolder;
}
.microcharts {
    text-align: center;
}
.microcharts > div {
    border-right: 1px dotted #4f4f4f !important;
    /*border-top: 1px solid #DADADA !important;*/
    /*margin-top: 10px !important;*/
    height: 85px;
    width: 65px;
    padding: 7px 9px;
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
}
.microcharts > div:last-child {
    border-right: none !important;
}
.noPadding {
    padding: 0;
}
.microcharts canvas {
    margin-top: -25px !important;
}

/*FONT CSS*/
.pmu-125x {
    font-size: 1.25em;
}
.pmu-150x {
    font-size: 1.5em;
}
.pmu-175x {
    font-size: 1.75em;
}
.pmu-half-x {
    font-size: .65em;
}
.panel {
    border: 0;
    background-color: #ffffff;
    border-radius: 0;
}
.dashboardPanelHeader {
    position: relative;
    top: -3px;
}
.panel-ni {
    border: 1px solid #C2C2C2;
}
.panel-ni > .panel-heading-ni {
    height: 28px;
    padding: 4px 10px 8px;
    color: #333;
    box-shadow: 0 1px 1px rgba(111, 110, 110, 0.91);
    background-image: url(/img/bg/mybg.png);
    background: #fafafa;
}
.panel-ni > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #428bca;
}
.panel-ni > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #428bca;
}
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
    padding-left: 0;
    margin-right: 10px;
    margin-top: 28px;
}

.panel-tabs > li > a {
    height: 30px;
    margin-right: 5px;
    line-height: .85;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: rgba(255,255,255, .23);
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li > a,
.panel-tabs > li > a:hover,
.panel-tabs > li > a:focus {
    color: #333;
    cursor: pointer;
    background-color: transparent;
    padding: 4px;
    border-radius: 0;
}

.panel-ni > header {
    height: 34px;
    padding: 0px;
    color: #333;
    border: 1px solid #C2C2C2
background: #fafafa;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: normal;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.navWidth {
    width: 105px;
    text-align: center;
}
li.navWidth > a.active {
    border: 1px solid #C2C2C2;
    border-bottom-color: transparent;
    background-color: #fff;
    margin-bottom: 0px;
    box-shadow: 0 -2px 0 #065FA3;
}
li.navWidthReducer > a.active {

    border: 1px solid #C2C2C2;
    border-bottom-color: transparent;
    background-color: #fff;
    margin-bottom: -4px;
    box-shadow: 0 -2px 0 #065FA3;
}
li.navWidth2 > a.active {

    border: 1px solid #C2C2C2;
    border-bottom-color: transparent;
    background-color: #fff;
    margin-bottom: -4px;
    box-shadow: 0 -2px 0 #065FA3;
}
.configSpan {
    font-size: 12px;
    padding-left: 5px;
    position: relative;
    top: -5px;
}
#configNav {
    margin-top: -1px;
}
.noborder {
    border: none !important;
}
#side-menu li ul li a.active, #side-menu li ul li a:hover, ul#side-menu.nav li a.active, ul#side-menu.nav li a:hover {           /* CHANGE ACTIVE CONTENT SIDENAV AREA*/
    background-color: #f5f5f5;
    color: #065FA3;
}
table>tbody>tr>td.niSuccess {
    background-color: #e48066 !important;
    color:#fff !important;
}
table>tbody>tr>td.niDanger {
    background-color: #22c282 !important;
    color: #fff !important;
}
@media (max-width: 1600px) {
    #systemImage {
        width: 75%
    }
}
.active > a > .fa.arrow:before {
    content: "\f107";
}
span.spanUnit {
    width: 60px;
}
span.spanUnit2 {
    width: 100px;
}
span.spanName {
    width: 150px;
}
span.spanName2 {
    width: 180px;
}
span.spanName3 {
    width: 125px;
}
span.spanName4 {
    width: 205px;
}
span.spanName5 {
    width: 154px;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.width187 {
    width: 187px;
}
.niDanger {

    color: #e48066 !important;
}
.niWarning {
    color: orange !important;
}
.niSuccess {
    color: #22c282 !important;
}
.degreeSpan {
    position: relative;
    top: 4px;
}
.notValue {
    padding-left: 2px;
    padding-right: 2px;
    border: 1px dotted #4c4c4c;
}

/*@media (max-width: 767px) {*/
/*#mainView {*/
/*margin-top: 215px;*/
/*}*/
/*#configPanel {*/
/*margin-top: 115px;*/
/*}*/
/*}*/
.preLoader {
    display: block;
    height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.arrow {
    float: right;
}
.fa.arrow:before {
    content: "\f104";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 85px;
        margin-top: 51px;
    }
}

@media(max-height:600px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media(max-height:400px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 200px;
        overflow-y: scroll;
    }
}

/* Buttons */

/* ------------------------------- */

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.table>tbody>tr.notSelected>td {
    text-decoration: line-through;
}
.notSelected {
    text-decoration: line-through;
}
.borderCCC {
    border: 1px solid #ccc;
}
.clearSpan {
    background-color: #065FA3 !important;
    border: none;
}

.inputSpecial {
    width: 60px;
    height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 0;
}
.inputSpecial2 {
    height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:0;
}

input, select {
    text-align: center !important;
}
.borderLeft {
    border-left: 1px solid #ccc;
}
.borderRight {
    border-right: 1px solid #ccc;
}

.btn-clear, .btn-clear:hover {
    background-color: #065FA3 !important;
    color: #fff;
}
.bigCheck {
    margin-left: 20px;
    height: 22px;
    width: 22px;
}
.fixWidthTH {
    width: 180px;
}

.test {
    /* display: block; */
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.noPadTopBottom {
    padding-top: 1px !important;
    padding-bottom: 0 !important;
}
.rowHeight {
    height: 39px !important;
}
.paddingInput {
    padding: 3px 6px !important;
}
.noMarginBottom {
    margin-bottom: 0 !important;
}
.margin15px {
    margin-bottom: 15px !important;
}
.fa-125x {
    font-size: 1.25em;
}
.niClear {
    opacity: 0;
}