<!---------------------------->
<!-- Start Dashboard Header -->
<!---------------------------->
<div class="row mainHeader" style="margin-top:30px;">
    <div class="col-md-12">
        <h1 class="page-header"><i class="fa fa-info fa-fw"></i> <span>System Information</span></h1>
    </div>
</div>
<!--------------------------->
<!-- /End Dashboard Header -->
<!--------------------------->

<div class="row" style="margin-top:30px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-striped" style="border:2px solid #065FA3 !important;">
            <thead>
                <tr>
                    <td colspan="3" class="text-center first-header"> Firmware Information</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">Title : </td>
                    <td colspan="2" class="text-center" ng-model="deviceInfo['firmwareProperties']['title']">{{firmwareInfo['Title']}}</td>
                </tr>
                <tr class="info">
                    <td class="text-center">Description : </td>
                    <td colspan="2" class="text-center" ng-model="deviceInfo['firmwareProperties']['description']">{{firmwareInfo['Description']}}</td>
                </tr>
                <tr>
                    <td class="text-center">Version : </td>
                    <td colspan="2" class="text-center" ng-model="deviceInfo['firmwareProperties']['version']">{{firmwareInfo['Version']}}</td>
                </tr>
                <tr class="info">
                    <td class="text-center">ID : </td>
                    <td colspan="2" class="text-center" ng-model="deviceInfo['firmwareProperties']['ID']">{{firmwareInfo['ID']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-striped" style="border:2px solid #065FA3 !important;">
            <thead>
                <tr>
                    <td colspan="2" class="text-center first-header"> Camera Information</td>
                </tr>
            </thead>
            <tbody ng-repeat="cams in cameraInfo">
            <tr>
                <td colspan="1" class="text-center" style="background-color:#333; color:#fff;"> Camera Name: </td>
                <td colspan="1" class="text-center" style="background-color:#333; color:#fff;"> {{cams['CameraName']}}</td>
            </tr>
            <tr>
                <td colspan="1" class="text-center"> Interface Name: </td>
                <td colspan="1" class="text-center"> {{cams['InterfaceName']}}</td>
            </tr>
            <tr class="info">
                <td colspan="1" class="text-center"> Vendor Name: </td>
                <td colspan="1" class="text-center"> {{cams['VendorName']}}</td>
            </tr>
            <tr>
                <td colspan="1" class="text-center"> Model Name: </td>
                <td colspan="1" class="text-center"> {{cams['ModelName']}}</td>
            </tr>
            <tr class="info">
                <td colspan="1" class="text-center"> Camera File Name: </td>
                <td colspan="1" class="text-center"> {{cams['CameraFileName']}}</td>
            </tr>
            <tr>
                <td colspan="1" class="text-center"> Serial Number: </td>
                <td colspan="1" class="text-center"> {{cams['SerialNumber']}}</td>
            </tr>
            <tr class="info">
                <td colspan="1" class="text-center"> IP Address: </td>
                <td colspan="1" class="text-center"> {{cams['IP Address']}}</td>
            </tr>
            <tr>
                <td colspan="1" class="text-center"> Physical Port: </td>
                <td colspan="1" class="text-center"> {{cams['PhysicalPort']}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>
